# {{ ansible_managed }}
Protocol 2
Port 22
AddressFamily inet
#ListenAddress 0.0.0.0

{% if ssh_allow_users is defined %}
# Only allow these users
AllowUsers {% for user in ssh_allow_users %}{{ user }} {% endfor %}


{% endif %}
# Ciphers and keying
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key
#RekeyLimit default none

# Logging
SyslogFacility AUTHPRIV
LogLevel VERBOSE

# Authentication:
LoginGraceTime 1m
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication no
StrictModes yes
MaxAuthTries 4

AuthorizedKeysFile  .ssh/authorized_keys

ChallengeResponseAuthentication no
GSSAPIAuthentication no
KerberosAuthentication no
UsePAM yes

X11Forwarding no
PrintMotd no
PrintLastLog yes
TCPKeepAlive yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

{% if ansible_os_family == 'RedHat' %}
# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server
{% endif %}
{% if ansible_os_family == 'Debian' %}
# override default of no subsystems
Subsystem	sftp	/usr/lib/openssh/sftp-server
{% endif %}
