# {{ ansible_managed }}
127.0.0.1	localhost {{ inventory_hostname }}
{% for host in groups['all']|sort %}
{% if host != inventory_hostname and host != 'localhost' %}
{{ hostvars[host].ansible_host }}	{{ host }}
{% endif %}
{% endfor %}
