# {{ ansible_managed }}
[main]
gpgcheck=1
installonly_limit={{ installonly_limit }}
clean_requirements_on_remove=True
fastestmirror={{ fastestmirror }}
keepcache={{ keepcache }}
ip_resolve={{ ip_resolve }}
color={{ color }}
color_list_installed_older=yellow
color_list_installed_newer=bold,yellow
color_list_installed_reinstall=dim,cyan
color_list_installed_running_kernel=bold,underline
color_list_installed_extra=bold,red
color_list_available_upgrade=bold,blue
color_list_available_downgrade=dim,magenta
color_list_available_install=bold,cyan
color_list_available_reinstall=bold,underline,green
color_list_available_running_kernel=bold,underline
color_search_match=bold,magenta
color_update_installed=bg:red
color_update_local=dim,green
color_update_remote=bold,green
