# {{ ansible_managed }}
{% if dnsmasq_cache_size is defined %}
cache-size={{ dnsmasq_cache_size }}

{% endif %}
{% if dnsmasq_upstream_servers is defined %}
{% if dnsmasq_upstream_servers is iterable %}
{% for host in dnsmasq_upstream_servers %}
server={{ host }}
{% endfor %}
{% endif %}
{% else %}
server=1.1.1.1
{% endif %}

no-resolv
no-poll
domain-needed
bogus-priv
interface=lo
listen-address=127.0.0.1

user=dnsmasq
group=dnsmasq

